app submission prep
.DS_Store
IconFinder.xcodeproj/xcuserdata/pulkitsinghal.xcuserdatad/xcschemes/IconFinder.xcscheme
IconFinder.xcodeproj/project.xcworkspace/xcuserdata/pulkitsinghal.xcuserdatad/UserInterfaceState.xcuserstate
